.white {
    background-color: #fff;
}

.skewImage {
    clip-path: polygon(0 0, 100% 0, 100% 66%, 0 88%);

}

.skewProjects {
    clip-path: polygon(0 0, 100% 40%, 100% 100%, 0% 100%);
}

.home_gradient {
    background: linear-gradient(0deg, rgba(10,15,13,1) 0%, rgba(122,122,122,1) 100%);
}